<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{814,136}</string>
                <key>spriteSourceSize</key>
                <string>{830,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{814,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logoTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,43}</string>
                <key>spriteSourceSize</key>
                <string>{258,43}</string>
                <key>textureRect</key>
                <string>{{1,139},{258,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>langSprites.png</string>
            <key>size</key>
            <string>{816,183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c17471364ad69c8eed9c03c761f51bc:65877b71193825c667f4b3f20ae5c17d:9bd9733cc8226d2bd2d9d78f38ec080f$</string>
            <key>textureFileName</key>
            <string>langSprites.png</string>
        </dict>
    </dict>
</plist>
