<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{736,160}</string>
                <key>spriteSourceSize</key>
                <string>{830,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{736,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logoTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,44}</string>
                <key>spriteSourceSize</key>
                <string>{201,44}</string>
                <key>textureRect</key>
                <string>{{739,1},{201,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>langSprites.png</string>
            <key>size</key>
            <string>{941,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6424850a2d8507dee3cae0d73cd7520:add77b4a7c73a06b60b0a9caa79b9b2d:9bd9733cc8226d2bd2d9d78f38ec080f$</string>
            <key>textureFileName</key>
            <string>langSprites.png</string>
        </dict>
    </dict>
</plist>
