<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{730,172}</string>
                <key>spriteSourceSize</key>
                <string>{830,180}</string>
                <key>textureRect</key>
                <string>{{46,1},{730,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logoTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,43}</string>
                <key>spriteSourceSize</key>
                <string>{184,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>langSprites.png</string>
            <key>size</key>
            <string>{777,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72edfc8a3ed8c4082d0986e7b9c1fbfe:6d7d85277144ae5a88f0bb940a66a8e9:9bd9733cc8226d2bd2d9d78f38ec080f$</string>
            <key>textureFileName</key>
            <string>langSprites.png</string>
        </dict>
    </dict>
</plist>
