<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameBackground.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{2565,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameBackgroundMobile.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,297},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PrivateRoomBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1283,381},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoomBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{2565,723},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StartBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1019},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WaitingBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1283,1103},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-item-isolated-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{318,294}</string>
                <key>spriteSourceSize</key>
                <string>{350,306}</string>
                <key>textureRect</key>
                <string>{{1039,1},{318,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loseBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,378}</string>
                <key>spriteSourceSize</key>
                <string>{601,378}</string>
                <key>textureRect</key>
                <string>{{1359,1},{601,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleAnimation01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{194,-78}</string>
                <key>spriteSize</key>
                <string>{8,4}</string>
                <key>spriteSourceSize</key>
                <string>{580,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{8,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleAnimation02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-213,-6}</string>
                <key>spriteSize</key>
                <string>{86,128}</string>
                <key>spriteSourceSize</key>
                <string>{580,160}</string>
                <key>textureRect</key>
                <string>{{11,1},{86,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>titleAnimation03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-160,4}</string>
                <key>spriteSize</key>
                <string>{192,148}</string>
                <key>spriteSourceSize</key>
                <string>{580,160}</string>
                <key>textureRect</key>
                <string>{{141,1},{192,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleAnimation04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-108,3}</string>
                <key>spriteSize</key>
                <string>{298,148}</string>
                <key>spriteSourceSize</key>
                <string>{580,160}</string>
                <key>textureRect</key>
                <string>{{335,1},{298,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleAnimation05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,6}</string>
                <key>spriteSize</key>
                <string>{402,148}</string>
                <key>spriteSourceSize</key>
                <string>{580,160}</string>
                <key>textureRect</key>
                <string>{{635,1},{402,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,378}</string>
                <key>spriteSourceSize</key>
                <string>{601,378}</string>
                <key>textureRect</key>
                <string>{{1962,1},{601,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>themeSprites.png</string>
            <key>size</key>
            <string>{3846,1824}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f017687417caab9c903476eb1a48ca1:9b203e66c40134ef16a112a9c81048c5:612f9905a28c1bfd1ed03d8cd2a422ea$</string>
            <key>textureFileName</key>
            <string>themeSprites.png</string>
        </dict>
    </dict>
</plist>
