<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>COG/backButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,56}</string>
                <key>textureRect</key>
                <string>{{1949,1089},{57,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>COG/cogButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{1667,1728},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>COG/manualButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{1919,1523},{56,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>COG/shopButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{1939,1582},{56,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>COG/soundButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{1939,1641},{56,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>COG/soundButtonOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{1856,1741},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>COG/tfButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{1857,1682},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background-menu-chat.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,723},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fichas/black/bishop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1841,1526},{72,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fichas/black/king.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{74,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1016,1715},{74,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fichas/black/knight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{72,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1761,1526},{72,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fichas/black/pawn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1940,1147},{72,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fichas/black/queen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1256,1715},{72,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fichas/black/rook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1940,1221},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fichas/white/bishop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1334,1715},{72,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fichas/white/king.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{74,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1096,1715},{74,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fichas/white/knight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{72,78}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1176,1715},{72,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fichas/white/pawn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1940,1369},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fichas/white/queen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{72,76}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1412,1715},{72,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fichas/white/rook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1940,1295},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/add-toro-coins/hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,36}</string>
                <key>spriteSourceSize</key>
                <string>{181,36}</string>
                <key>textureRect</key>
                <string>{{1667,1417},{181,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu bar/add-toro-coins/normal-and-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,36}</string>
                <key>spriteSourceSize</key>
                <string>{181,36}</string>
                <key>textureRect</key>
                <string>{{448,1747},{181,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,670}</string>
                <key>spriteSourceSize</key>
                <string>{300,670}</string>
                <key>textureRect</key>
                <string>{{1,1445},{300,670}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu bar/logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,39}</string>
                <key>spriteSourceSize</key>
                <string>{238,39}</string>
                <key>textureRect</key>
                <string>{{1899,1147},{238,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu bar/menu-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,58}</string>
                <key>spriteSourceSize</key>
                <string>{1280,58}</string>
                <key>textureRect</key>
                <string>{{1283,1},{1280,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu bar/quit-game/Regular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,37}</string>
                <key>spriteSourceSize</key>
                <string>{130,37}</string>
                <key>textureRect</key>
                <string>{{884,1715},{130,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/quit-game/click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,37}</string>
                <key>spriteSourceSize</key>
                <string>{130,37}</string>
                <key>textureRect</key>
                <string>{{752,1715},{130,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/quit-game/hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,37}</string>
                <key>spriteSourceSize</key>
                <string>{130,37}</string>
                <key>textureRect</key>
                <string>{{752,1754},{130,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notifications/draw/btns/1x/hover_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1949,1},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/draw/btns/1x/normal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1949,273},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/draw/btns/1x/press_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1949,545},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/draw/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,380}</string>
                <key>spriteSourceSize</key>
                <string>{612,384}</string>
                <key>textureRect</key>
                <string>{{1343,1},{604,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notifications/jaque mate/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{424,268}</string>
                <key>spriteSourceSize</key>
                <string>{432,272}</string>
                <key>textureRect</key>
                <string>{{1343,1147},{424,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notifications/jaque/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{426,268}</string>
                <key>spriteSourceSize</key>
                <string>{432,272}</string>
                <key>textureRect</key>
                <string>{{673,1445},{426,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notifications/lose/btns/1x/hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1949,817},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/lose/btns/1x/normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1769,1147},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/lose/btns/1x/press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1834,1147},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/lose/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,380}</string>
                <key>spriteSourceSize</key>
                <string>{612,384}</string>
                <key>textureRect</key>
                <string>{{1343,383},{604,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notifications/time/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,268}</string>
                <key>spriteSourceSize</key>
                <string>{432,272}</string>
                <key>textureRect</key>
                <string>{{1101,1445},{424,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notifications/win/btns/1x/hover_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1949,1},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/win/btns/1x/normal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1949,273},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/win/btns/1x/press_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1949,545},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/win/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{604,380}</string>
                <key>spriteSourceSize</key>
                <string>{612,384}</string>
                <key>textureRect</key>
                <string>{{1343,765},{604,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resign button/click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,45}</string>
                <key>spriteSourceSize</key>
                <string>{147,45}</string>
                <key>textureRect</key>
                <string>{{1,1747},{147,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resign button/over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,45}</string>
                <key>spriteSourceSize</key>
                <string>{147,45}</string>
                <key>textureRect</key>
                <string>{{150,1747},{147,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>resign button/regular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,45}</string>
                <key>spriteSourceSize</key>
                <string>{147,45}</string>
                <key>textureRect</key>
                <string>{{299,1747},{147,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select piece/click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1857,1600},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select piece/hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1774,1684},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select piece/release.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1889,1441},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/layer-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,185}</string>
                <key>spriteSourceSize</key>
                <string>{138,185}</string>
                <key>textureRect</key>
                <string>{{1527,1417},{138,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/layer-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{1761,1419},{126,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/layer-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{1667,1600},{126,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/user-panel-layer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,54}</string>
                <key>spriteSourceSize</key>
                <string>{136,54}</string>
                <key>textureRect</key>
                <string>{{1705,1417},{136,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/user-turn/red-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{673,1715},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/user-turn/user-panel-time-layer-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,185}</string>
                <key>spriteSourceSize</key>
                <string>{138,185}</string>
                <key>textureRect</key>
                <string>{{1527,1604},{138,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/user-turn/user-panel-time-layer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,55}</string>
                <key>spriteSourceSize</key>
                <string>{138,55}</string>
                <key>textureRect</key>
                <string>{{1283,1283},{138,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/user-turn/white-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{1774,1600},{82,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Sprites.png</string>
            <key>size</key>
            <string>{2013,1793}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f16cc8d77a8911a0c1dc2921b1ddaf4a:56f32852fa930af9e5e15fea34794994:4f1e2adb64e9833dc0d6799b3053df6d$</string>
            <key>textureFileName</key>
            <string>Sprites.png</string>
        </dict>
    </dict>
</plist>
