<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>COG/backButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,56}</string>
                <key>textureRect</key>
                <string>{{1917,1526},{57,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>COG/cogButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{1878,1584},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>COG/manualButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{1937,1584},{56,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>COG/shopButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{1884,1702},{56,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>COG/soundButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{1943,1643},{56,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>COG/soundButtonOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{1943,1702},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>COG/tfButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{1884,1643},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background-menu-chat.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,723},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fichas/black/bishop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,83}</string>
                <key>spriteSourceSize</key>
                <string>{74,85}</string>
                <key>textureRect</key>
                <string>{{1023,1715},{70,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fichas/black/king.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{76,85}</string>
                <key>spriteSourceSize</key>
                <string>{78,87}</string>
                <key>textureRect</key>
                <string>{{1761,1507},{76,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fichas/black/knight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,86}</string>
                <key>spriteSourceSize</key>
                <string>{75,86}</string>
                <key>textureRect</key>
                <string>{{1761,1419},{73,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fichas/black/pawn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,77}</string>
                <key>spriteSourceSize</key>
                <string>{75,79}</string>
                <key>textureRect</key>
                <string>{{1437,1715},{71,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fichas/black/queen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,84}</string>
                <key>spriteSourceSize</key>
                <string>{73,84}</string>
                <key>textureRect</key>
                <string>{{1941,1361},{71,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fichas/black/rook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{1193,1715},{70,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fichas/white/bishop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,83}</string>
                <key>spriteSourceSize</key>
                <string>{74,85}</string>
                <key>textureRect</key>
                <string>{{1108,1715},{70,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fichas/white/king.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{76,85}</string>
                <key>spriteSourceSize</key>
                <string>{78,87}</string>
                <key>textureRect</key>
                <string>{{1839,1486},{76,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fichas/white/knight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,86}</string>
                <key>spriteSourceSize</key>
                <string>{75,86}</string>
                <key>textureRect</key>
                <string>{{1714,1676},{73,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fichas/white/pawn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,78}</string>
                <key>spriteSourceSize</key>
                <string>{75,78}</string>
                <key>textureRect</key>
                <string>{{1357,1715},{71,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fichas/white/queen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,84}</string>
                <key>spriteSourceSize</key>
                <string>{73,84}</string>
                <key>textureRect</key>
                <string>{{937,1715},{71,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fichas/white/rook.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{1275,1715},{70,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu bar/add-toro-coins/hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,36}</string>
                <key>spriteSourceSize</key>
                <string>{181,36}</string>
                <key>textureRect</key>
                <string>{{241,1747},{181,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/add-toro-coins/normal-and-click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,36}</string>
                <key>spriteSourceSize</key>
                <string>{181,36}</string>
                <key>textureRect</key>
                <string>{{1667,1417},{181,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu bar/chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,670}</string>
                <key>spriteSourceSize</key>
                <string>{300,670}</string>
                <key>textureRect</key>
                <string>{{1,1445},{300,670}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu bar/logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,39}</string>
                <key>spriteSourceSize</key>
                <string>{238,39}</string>
                <key>textureRect</key>
                <string>{{1,1747},{238,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/menu-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,58}</string>
                <key>spriteSourceSize</key>
                <string>{1280,58}</string>
                <key>textureRect</key>
                <string>{{1283,1},{1280,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu bar/quit-game/Regular.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,37}</string>
                <key>spriteSourceSize</key>
                <string>{130,37}</string>
                <key>textureRect</key>
                <string>{{805,1715},{130,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/quit-game/click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,37}</string>
                <key>spriteSourceSize</key>
                <string>{130,37}</string>
                <key>textureRect</key>
                <string>{{424,1747},{130,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu bar/quit-game/hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,37}</string>
                <key>spriteSourceSize</key>
                <string>{130,37}</string>
                <key>textureRect</key>
                <string>{{673,1715},{130,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notifications/draw/btns/1x/hover_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1949,1},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/draw/btns/1x/normal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1949,273},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/draw/btns/1x/press_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1949,545},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/draw/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,380}</string>
                <key>spriteSourceSize</key>
                <string>{612,384}</string>
                <key>textureRect</key>
                <string>{{1343,1},{604,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notifications/jaque mate/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{424,268}</string>
                <key>spriteSourceSize</key>
                <string>{432,272}</string>
                <key>textureRect</key>
                <string>{{1343,1147},{424,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notifications/jaque/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{426,268}</string>
                <key>spriteSourceSize</key>
                <string>{432,272}</string>
                <key>textureRect</key>
                <string>{{673,1445},{426,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notifications/lose/btns/1x/hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1949,817},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/lose/btns/1x/normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1949,1089},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/lose/btns/1x/press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1769,1147},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/lose/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,380}</string>
                <key>spriteSourceSize</key>
                <string>{612,384}</string>
                <key>textureRect</key>
                <string>{{1343,383},{604,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notifications/time/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,268}</string>
                <key>spriteSourceSize</key>
                <string>{432,272}</string>
                <key>textureRect</key>
                <string>{{1101,1445},{424,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notifications/win/btns/1x/hover_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1949,1},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/win/btns/1x/normal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1949,273},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/win/btns/1x/press_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,63}</string>
                <key>spriteSourceSize</key>
                <string>{270,63}</string>
                <key>textureRect</key>
                <string>{{1949,545},{270,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>notifications/win/isolated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{604,380}</string>
                <key>spriteSourceSize</key>
                <string>{612,384}</string>
                <key>textureRect</key>
                <string>{{1343,765},{604,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select piece/click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1714,1594},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select piece/hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1796,1594},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>select piece/release.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1802,1676},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/layer-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,185}</string>
                <key>spriteSourceSize</key>
                <string>{138,185}</string>
                <key>textureRect</key>
                <string>{{1527,1417},{138,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/layer-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{1834,1147},{126,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/layer-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,105}</string>
                <key>spriteSourceSize</key>
                <string>{126,105}</string>
                <key>textureRect</key>
                <string>{{1834,1275},{126,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/user-panel-layer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,54}</string>
                <key>spriteSourceSize</key>
                <string>{136,54}</string>
                <key>textureRect</key>
                <string>{{1705,1417},{136,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/user-turn/red-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{1920,1447},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>user avatar and name/user-turn/user-panel-time-layer-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,185}</string>
                <key>spriteSourceSize</key>
                <string>{138,185}</string>
                <key>textureRect</key>
                <string>{{1527,1604},{138,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/user-turn/user-panel-time-layer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,55}</string>
                <key>spriteSourceSize</key>
                <string>{138,55}</string>
                <key>textureRect</key>
                <string>{{1283,1283},{138,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user avatar and name/user-turn/white-circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,81}</string>
                <key>spriteSourceSize</key>
                <string>{82,81}</string>
                <key>textureRect</key>
                <string>{{1836,1403},{82,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Sprites.png</string>
            <key>size</key>
            <string>{2013,1787}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8693a01a605cda6496ac8c2081a409df:34b0fb57d45b9deb486d7a905e23767e:4f1e2adb64e9833dc0d6799b3053df6d$</string>
            <key>textureFileName</key>
            <string>Sprites.png</string>
        </dict>
    </dict>
</plist>
