<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,165},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameBackgroundMobile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1283,165},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PrivateRoomBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{2565,297},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoomBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,887},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StartBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1283,887},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WaitingBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{2565,1019},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg-item-isolated-bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{318,294}</string>
                <key>spriteSourceSize</key>
                <string>{350,306}</string>
                <key>textureRect</key>
                <string>{{3111,1},{318,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleAnimation01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,37}</string>
                <key>spriteSize</key>
                <string>{620,86}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{620,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleAnimation02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{620,162}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{623,1},{620,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleAnimation03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{620,162}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1245,1},{620,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleAnimation04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{620,162}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1867,1},{620,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleAnimation05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{620,162}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{2489,1},{620,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>themeSprites.png</string>
            <key>size</key>
            <string>{3846,1740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4faf2fd0f155f2a188b4c2db7ace6fce:84e0dbf03445a4e2e0fe9b889a5e1faa:612f9905a28c1bfd1ed03d8cd2a422ea$</string>
            <key>textureFileName</key>
            <string>themeSprites.png</string>
        </dict>
    </dict>
</plist>
